

.containerNav {
    width: 100%;
    height: 12vh;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* gap: 100px; */
    align-items: center;
    position: fixed;
    border-bottom: 1px solid rgb(210, 210, 210);
    
    
}

.linksStyle {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 18px;
}

.linkPrueba {
    font-size: 100px;
}